.product-wrapper {
  display: flex;

  &__img-wrapper {
    margin: 5vw;
    width: 45vw;

    &__img {
      width: inherit;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    margin: 5vw 5vw 5vw 0;
  }
}
